<div id="exist_training_box" class="offset-0 col-12 mt-3 pb-3"> 
</div>
<script>
    window.onload = ShowSportsmanTrainings();
</script>
<div class="offset-0 col-12 pb-3">
    <div id="add_trainings_block" class="border-dark rounded col-12 p-0 offset-md-1 col-md-10 offset-lg-2 col-lg-8 add_trainings_block">
        <div id="create_new_traininig_button_block" class="d-flex justify-content-center mb-2">
            <button id="create_traning_button" class="rounded" onclick="StartCreating()">Створити тренування</button>
        </div>
    </div>
</div>