<footer id="footer" class="container col pt-1 pb-3">
    <h5 id="footer_title" class="d-flex justify-content-center">Меню:</h5>
    <div id="footer_menu" class="row d-flex justify-content-center">   
        <ul id="footer_menu_block" class="text-center mb-0 pl-0">
          <li class="p-1">
              <a href ="/index">Головна</a>
          </li>
          <li class="p-1">
              <a href="#">Інформація</a>
          </li>

          <li class="p-1">
              <a href="/training">Тренування</a>
          </li>
          <li class="p-1">
              <a href="#">Відгуки та пропозиції</a>
          </li>	
        </ul>
    </div>
</footer>