<header id="header" class="container col m-0 p-0">
    <section id="main_title_block" class="row d-flex justify-content-center m-0">
        <h1 id="main_title" class="col-12 d-flex justify-content-center mt-2">Welcome to the gym</h1>
        <h1 id="main_title" class="col-12 d-flex justify-content-center">body</h1>
    </section>
    <section id="menu_block" class="container d-flex col m-0">
        <div id="dropdown" class="dropdown p-2 offset-1 col-2">
            <button id="dropdownMenuButton" class="btn-secondary border-dark d-flex align-items-center pl-lg-2 pr-lg-2 pl-xl-3 pr-xl-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img id="menu_img" class="d-flex align-items-center" src="res/img/menu.png" alt="menu">
                <p id="menu_btn_text" class="mb-0 d-none align-content-center d-xl-block d-lg-block d-md-block ml-3 ml-xl-4 pb-1">Меню</p>
            </button>
            <div id="menu_elements_block" class="dropdown-menu border-dark" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item pt-2 pb-2 border-bottom" href="/index">Головна</a>
                <a class="dropdown-item pt-2 pb-2" href="#">Інформація</a>
                <a class="dropdown-item pt-2 pb-2" href="#">Відгуки та пропозиції</a>
                <a class="dropdown-item pt-2 pb-2" href="/training">Тренування</a>
            </div>	
        </div>
        <div id="user_info" class="container d-flex align-items-center justify-content-end col-9 col-md-8 offset-md-1 col-lg-8 offset-lg-1 col-xl-8 offset-xl-1 m-0">

            <% if(auth){ %>
                <%- include('user_loged_in'); -%>
             <%} else{ %>
                <%- include('user_loged_out'); -%>
              <% } %>

        </div>
    </section>
</header>