<div id="treining_menu" class="container offset-1 col-10 offset-sm-2 offset-lg-3 offset-xl-3 col-sm-8 col-lg-6 col-xl-6 d-flex justify-content-center p-3 rounded-right rounded-left">
    <a id="training_page_btn_text" class="p-0" href="training">
        <button id="training_page_btn" class="pl-2 pr-2 pl-sm-3 pr-sm-3 pl-md-4 pr-md-4 pl-lg-4 pr-lg-4 pl-xl-5 pr-xl-5 pt-2 pb-2 rounded-left">
            Тренування
        </button>
    </a>
    <a id="res_page_btn_text" class="p-0" href="/results">
        <button id="res_page_btn" class="rounded-right pl-2 pr-2 pl-sm-3 pr-sm-3 pl-md-4 pr-md-4 pl-lg-4 pr-lg-4 pl-xl-5 pr-xl-5 pt-2 pb-2">
            Результати
        </button>
    </a>
</div>