<p id="user_info_text" class="mb-0">Ім'я:<span id="nickname"><%=name%></span></p>
<button id="log_out_btn_main" class="ml-3 border-dark" onclick="LogOut()">
    <p id="log_out_btn_text" class="m-0">Вихід</p>
</button>