<button id="log_in_btn_main" class="border-dark">
    <p id="log_in_btn_text" class="m-0" data-toggle="modal" data-target="#log_in_block">Log in</p>
</button>
<button id="sign_in_btn_main" class="ml-3 border-dark">
    <p id="sign_in_btn_text" class="m-0" data-toggle="modal" data-target="#sign_in_block">Sign in</p>
</button>